
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model List<LUISAdminApplication.Models.Intents>
}

<h2>인텐트 목록</h2>
<div class="container">
    <div class="row">
        <table>
            <tr>
                <th width="30%">인텐트아이디</th>
                <th width="20%">인텐트명</th>
                <th width="*">답변내용</th>
                <th width="5%">수정</th>
                <th width="10%">일시</th>
            </tr>
            @foreach (var intent in Model)
            {
            <tr>
                <td>@intent.IntentID</td>
                <td>@intent.IntentName</td>
                <td>@intent.Reply1</td>
                <td><a href="/intent/manage?idx=@intent.IntentIDX" class="btn btn-info">수정</a></td>
                <td>@intent.ModifyDate</td>
            </tr>

            }
            </table>
    </div>
</div>
